<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.versioning"
    version="2.0.0">

    <name>Versioning</name>
    <description>This plugin allows you to retrieve the build number.</description>
    <license>MIT</license>
	
    <asset src="www/index.js" target="index.js" />
   
    <!-- ios -->
    <platform name="ios">
        <plugins-plist key="VersionNumber"
                    string="VersionNumber" />
        <source-file src="VersionNumber.h" />
        <source-file src="VersionNumber.m" />
    </platform>
</plugin>
